<mat-nav-list>
  <a mat-list-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/devices">
    <mat-icon>devices_other</mat-icon>
    <span class="nav-caption">Devices</span>
  </a>
  <a mat-list-item routerLink="/assets">
    <mat-icon>domain</mat-icon>
    <span class="nav-caption">Assets</span>
  </a>
  <a mat-list-item routerLink="/customers">
    <mat-icon>supervisor_account</mat-icon>
    <span class="nav-caption">Customers</span>
  </a>
</mat-nav-list>
