<section id="login-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img mat-card-image src="/assets/thingsboard-logo.svg" alt="Logo">
      </mat-card-title>
      <mat-card-subtitle>Log in to see ThingsBoard in action.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input matInput formControlName="username" placeholder="Enter your email" name="username" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput formControlName="password" placeholder="Enter your password"
            [type]="hidePassword ? 'password' : 'text'" name="password" required>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <span>Don't have an account?</span>
      <button mat-raised-button routerLink="/signup">Create one now!</button>

      <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"> </mat-progress-bar>
    </mat-card-actions>
  </mat-card>
</section>
