.card {
  .mat-card-content {
    text-align: center;

    .card-tile {
      .mat-icon {
        margin: auto 0;
        width: 100%;
        font-size: 90px;
        margin: 0 auto;
      }
    }
  }
}
