<div class="container">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let card of cards | async">
      <mat-card class="card" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-lg="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <div *ngFor="let button of card.buttons">
                <button mat-menu-item>{{button?.name}}</button>
              </div>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <a [routerLink]="card.link">
            <div class="card-tile">
              <mat-icon color="primary">{{card.icon}}</mat-icon>
            </div>
          </a>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
