<app-layout>
  <mat-sidenav-container *ngIf="isAuthenticated$| async; else notLogged" class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary">
        <img src="https://demo.thingsboard.io/assets/logo_title_white.svg" alt="Logo">
      </mat-toolbar>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-template #notLogged>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
</app-layout>
