<app-layout>
  <mat-sidenav-container *ngIf="isAuthenticated$| async; else notLogged" class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary">
        <img src="http://demo.thingsboard.io/static/36f68b2b2bfda81b4a46fcd2d6f8dead.svg" alt="Logo">
      </mat-toolbar>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
          <div fxFlex="80%" fxFlex.lt-md="90%" fxFlex.lt-sm="100%" class="flex-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-template #notLogged>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav-content>
        <main>
          <div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
            <div fxFlex="80%" fxFlex.lt-md="90%" fxFlex.lt-sm="100%" class="flex-wrapper">
              <router-outlet></router-outlet>
            </div>
          </div>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
</app-layout>
