<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <mat-toolbar color="primary">
        <img src="http://demo.thingsboard.io/static/36f68b2b2bfda81b4a46fcd2d6f8dead.svg" alt="Logo">
      </mat-toolbar>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
          <div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
