<mat-toolbar color="primary">
  <div fxHide.gt-md>
    <button *ngIf="isHandset$ | async" type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="onToggleSidenav()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>

  <div class="header-title">
    {{title}}
  </div>

  <span class="header-spacer"></span>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <div fxHide.lt-md>
    <button mat-icon-button>
      <mat-icon>fullscreen</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="language">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #language="matMenu">
      <button mat-menu-item>
        <span>English</span>
      </button>
      <button mat-menu-item>
        <span>Arabic</span>
      </button>
      <button mat-menu-item>
        <span>Spanish</span>
      </button>
    </mat-menu>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item [routerLink]="[ '/profile']">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
